{% extends 'devices/base.html'%}
{% block body%}
<div class="devices-container container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-6">
                   <div class="thumbnail">
                     <img src="{{ motorola.album_logo}}" style="width:100%" />
                     <div class="caption">
                        <h4><i>{{motorola.model_name}} - ₹{{motorola.price}}</i></h4>
                       <ul>
                         <li>
                           RAM:  {{motorola.ram}}
                         </li>
                         <li>
                            Internal memory:  {{motorola.internal_mem}}
                         </li>
                         <li>
                           Battery:   {{motorola.battery}}
                         </li>
                         <li>
                           Camera Primary:  {{motorola.camera_primary}}
                         </li>
                         <li>
                           Processor:   {{motorola.processor}}
                         </li>
                         <li>
                          GPU:  {{motorola.gpu}}
                         </li>
                         <li>
                           StockROM:  {{motorola.stockrom}}
                         </li>
                         <li>
                           Dispaly Size:  {{motorola.display_size}}
                         </li>
                         <li>
                           Display Type:  {{motorola.display_type}}
                         </li>
                         <li>
                           In Stock:    {{motorola.stock}} numbers.
                         </li>
                       </ul>
                       </div>
                      </div>
                  </div></div></div>
{% endblock %}
