{% extends 'devices/base.html'%}
{% block body%}
<div class="albums-container container-fluid">
  <!-- Albums -->
  <div class="row">
{% if all_mis %}
  <h3>&nbsp;&nbsp;&nbsp; These devices are 'mi'ne! Dare to buy?</h3>
    {% for mi in all_mis %}
<div class="col-sm-4 col-lg-2">
               <div class="thumbnail">
                   <a href="{% url 'devices:mide' mi.id %}">
                       <img src="{{ mi.album_logo}}" class="img-responsive">
                   </a>
                   <div class="caption">
                       <h5>{{ mi.model_name}} - ₹{{mi.price}}</h5>

                       <!-- View Details -->
               <a href="{% url 'devices:mide' mi.id %}" class="btn btn-primary btn-sm" role="button">View specs</a>
               <!-- View buynow -->
                          <a href="{% url 'devices:mibuy' mi.id%}" class="btn btn-success btn-sm" role="button">Buy Now</a>


             </div>
                                </div>
                            </div>

    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
    {% endfor %}
  </div>
    {% else %}
  <h3>No xiaomis</h3>
{% endif %}
</div>
{% endblock %}
